<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Classificador de Herói</title>
</head>
<body>
    <div id="fixed-header">
        <div id="header">
            <div id="barra-loading"></div>
            <p><span id="quant-respondida">0</span> / 21</p>
        </div>
    </div>
    <form action="/processar-respostas" method="POST">
        <h1>Venha Herói para o desafio!</h1>
        <h3>Responda e saberás a sua classificação de Ferro até Radiante</h3>
        
        <div class="pergunta">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
        </div>
        
        <button id="btn-text" type="button">Submeter</button>

        <div id="perguntas"></div>
 
        <button id="btn-radios" type="button">Submeter</button>
    </form>

    <div id="resultado"></div>

    <script src="/js/script.js"></script>
</body>
</html>